.loader {
  margin: 1rem;
  padding-top: 25px;
  width: 150px;
  height: 50px;
  justify-self: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: white;
  color: red;
}