.modal {
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 25vw;
  left: 38vw;
  top: 20vh;
  z-index: 100;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

/* Mobile size */
@media (max-width: 48rem) {
  .modal {
    width: 32vw;
    left: 34vw;
  }
}