.button {
  margin: 10px;
  padding: 10px;
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 3px;
  outline: none;
  color: white;
  cursor: pointer;
}

.success {
  background-color: green;
}

.danger {
  background-color: red;
}

.submit {
  background-color: darkmagenta;
  transition: color 0.5s;
}

.submit:hover {
  color: pink;

}