.nav-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item a {
  box-sizing: border-box;
  margin: 0 1rem;
  padding: 0.5rem;
  height: 100%;
  text-decoration: none;
  display: block;
  color: white;
}

.nav-item a :hover {
  background-color: pink;
}